<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.stevegrunwell.asimov</string>
        <key>Program</key>
        <string>/usr/local/bin/asimov</string>
        <key>StartInterval</key>
        <!-- 24 hours = 60 * 60 * 24 = 86400 -->
        <!-- 12 hours = 60 * 60 * 12 = 43200 -->
        <!-- 6 hours = 60 * 60 * 6 = 21600 -->
        <!-- 2 hours = 60 * 60 * 2 = 7200 -->
        <!-- 1 hour = 60 * 60 = 3600 -->
        <integer>86400</integer>
    </dict>
</plist>
